body{
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    color: grey;
    margin: 0px;
    padding: 10px;
    background-color: lightgrey;

}


.loginbox {
    width: 320px;
    height: 520px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 140px 40px;
    border: 10px solid lightgrey;
    border-radius: 16px;
    
    
}

.avatar {
    width: 120px;
    height: 120px;
    
    position: absolute;
    left: calc(50% - 60px);
    top: 20px;

}

form {
    width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1{
    font-size: 30px;
    margin: 16px;
    padding: 0;
    text-align: center;
}

.loginbox input {
    margin: 0px;
    padding: 10px 0px 10px;
    width: 100%;
    border-radius: 3px;
    border-block-start-color: aqua;
}

.loginbox input[type="text"], input[type="password"]{
    
    border: 1px solid lightgrey;
    border-style: d;
    outline-offset: 0;
    height: x;
    border-width: 2px;
    padding: 15px 10px;
    margin: 0;
    
}

.loginbox  input[type="password"]{
    border-top: none;

}

.entrar
{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: rgb(79, 158, 223);
    color: #fff;
    font-size: 22px;
    margin: 12px;
    border-radius: 5px;
    
    
}

.olvide {
    font-size: 11px;
    border-radius: 10px;
    border: solid 0px rgb(170, 170, 170);
    padding: 2px;
    margin: 3px;
    height: 16px;
    width: 60%;
}

