body{
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    color: grey;
    margin: 0px;
    padding: 10px;
    background-color: lightgrey;

}


.loginbox {
    width: 320px;
    height: 520px;
    background-color: #fff;
    border-radius: 5px;
    border-style: groove;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 140px 40px;
    boder
    
}

.avatar {
    width: 120px;
    height: 120px;
    
    position: absolute;
    left: calc(50% - 60px);
    top: 20px;

}

form {
    width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1{
    font-size: 30px;
    margin: 16px;
    padding: 0;
    text-align: center;
}

.loginbox input {
    margin: 0px;
    padding: 10px 0px 10px;
    width: 100%;
    border-radius: 5px;
}

.loginbox input[type="text"], input[type="password"]{
    border-color: lightgrey;
    border-bottom: 1px slid rgb(127, 157, 172);
    border-style: d;
    outline-offset: 0;
    height: x;
    border-width: 2px;
    padding: 15px 10px;
    margin: 0;
}

.entrar
{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: rgb(79, 158, 223);
    color: #fff;
    font-size: 22px;
    margin: 12px;
    border-radius: 5px;
    
    
}

.olvide {
    font-size: 12px;
    border: none;
    padding: 0;
    margin: 0;
    height: 20px;
    width: 60%;
}

